<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Ofertas
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <div class="row">
                    <app-offer (idPassOfferModel)="fileModelCaracterics = $event" class="col-sm-6"></app-offer>
                    <app-characteristics [fileModelCharacteristics]="fileModelCaracterics" class="col-sm-6"></app-characteristics>
                </div>
                <hr>
                <div class="row border-top-1">
                    <app-prices [fileModelCharacteristics]="fileModelCaracterics" class="col-sm-12"></app-prices>
                </div>
            </div>
        </div>
    </div>
</div>